# ==========================================
# Python
# ==========================================

__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

.venv/
venv/
env/

# ==========================================
# VSCode
# ==========================================

.vscode/

# ==========================================
# Jupyter
# ==========================================

.ipynb_checkpoints/

# ==========================================
# Dataset RAW (MUY GRANDE)
# ==========================================

dataset/raw/

# ==========================================
# BookTection completo
# ==========================================

dataset/booktection_complete/

# ==========================================
# HuggingFace cache
# ==========================================

.cache/
huggingface/
hf_cache/

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# Windows
# ==========================================

Thumbs.db
Desktop.ini

# ==========================================
# Mac
# ==========================================

.DS_Store

# ==========================================
# Textos crudos html
# ==========================================

**/Raw Texts/*.html
**/Datasets/
**/__pycache__/
*.pyc
.ipynb_checkpoints/
